################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstRepository/FileContentIndex/b48f0a9e-b064-472a-9089-a81c00f8052f.vsidx
/.vs/MyFirstRepository/FileContentIndex/e0e64f13-dfb2-4ff9-a95a-aeab440718bb.vsidx
/.vs/MyFirstRepository/FileContentIndex/49a163f0-6068-45e3-acfc-c0eef96b0e2b.vsidx
